html {
  height: 100%;
}
body {
  height: 100%;
}
.home {
  hr{
    width: 50%;
  }
  .splash-viewport{
    height: 100%;
    margin-top: 7%;
  }
  .splash {
    margin: 5% auto;
    height: 100%;
  }
  .splash-container{
    margin: 5%;
    text-align: center;
    padding: 10px;
    width: 75%;
    height: 100%;
    margin: 0 auto;
  }
	.nav-container{
		display: none;
	  }
	.footer{
		display: none;
	}
	// ^toggle these on after click
    .footer{
        display: none;
    }
    .splash-text{
      .text-content();
        font-size: 6rem;
        margin: 20px auto;
        padding: 10px;
        padding-top: 25px;
        color: @bgwhite;
        border-bottom: 1px solid @bgwhite;
        padding-bottom: 20px;
        width: 74%;
	 }

    .cta-container {
      margin: 0 auto;
      margin-top: 10%;
      width: 25%;
      height: 100%;
   }

  .info{
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.0);
    
		a{
      .text-content();
      color: white;
      font-size: 1rem;
		};
  }

	.sign-in{
    margin: 0 auto;
    .dropshadow();
    background-color: green;
		a{
      .text-content();
      color: white;
      font-size: 1.35rem;
		};
	}
	.sign-in:hover {
		// background-color: white;
		a{
			// color: green;
		}
	}
    .button{
      width: 60%;
      border-radius: 2px;
      height: 50px;
      margin: 15px;
      border: 0;
      a {
        text-decoration: none;
      }
      cursor: pointer;
    }
}

.splash-img{
	background-image: url(/img/scaledsplash.png);
}
body > section > div > div.cta-container.auth {
  height: 30%;
}